/**
 * Imágenes Responsive
 */

img.size-full,
img.size-large,
.wp-post-image,
.post-thumbnail img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
 * Alignment
 */

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}